@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
}
h1{
    font-family: 'Fraunces', serif;
}

.container{
    display: flex; 
    flex-direction: row-reverse;
    max-width: 1043px;
    /* margin: 0px auto; */
    margin-top: 90px;
      
}
.inner{
    width:30%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 60px;
    
}
.inner p{
    color: hsl(228, 12%, 48%);
}
p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    
}
#big{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}
img{
    width:30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    

}
.inner h1{
    margin-top: 25px;
}
#para{
    margin-top: 20px;
    line-height: 30px;
}
.price{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.price p{
    margin-right: 20px;
}
button{
    width: 90%;
    padding: 10px;
    border:0px;
    border-radius: 5px;
    background-color: hsl(158, 36%, 37%);
    color: white;
}